<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <svg class="bi me-2" width="40" height="32"></svg>
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <span class="fs-4">Minnesota Fat Tire Bike Association (MFTBA)</span>
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link"
         aria-current="page"
         routerLink="/welcome"
         routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         aria-current="page"
         routerLink="/races"
         routerLinkActive="active">Races</a>
    </li>
  </ul>
  <svg class="bi me-2" width="40" height="32"></svg>
</header>
