<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <svg class="bi me-2" height="32" width="40"></svg>
  <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" href="/">
    <span class="fs-4">Minnesota Fat Tire Bike Association (MFTBA)</span>
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a aria-current="page"
         class="nav-link"
         routerLink="/welcome"
         routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a aria-current="page"
         class="nav-link"
         routerLink="/races"
         routerLinkActive="active">Races</a>
    </li>
  </ul>
  <svg class="bi me-2" height="32" width="40"></svg>
</header>
