<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular TDD Example 1</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a id="welcome-nav-link" class="nav-link" aria-current="page" routerLink="/welcome" routerLinkActive="active"
            >Welcome</a
          >
        </li>
        <li class="nav-item">
          <a id="map-nav-link" class="nav-link" aria-current="page" routerLink="/map" routerLinkActive="active">Map</a>
        </li>
        <li class="nav-item">
          <a id="profile-nav-link" class="nav-link" aria-current="page" routerLink="/profile" routerLinkActive="active"
            >Profile</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
