<ng-container
  *ngIf="{
          race: (race$ | async),
          riders: (riders$ | async),
          raceParticipants: (raceParticipants$ | async)
         } as data">
  <div class="row" *ngIf="data.race && data.riders && data.raceParticipants; else loading">
    <app-race-detail [race]="data.race">
    </app-race-detail>
  </div>
  <div class="row" *ngIf="data.race && data.riders && data.raceParticipants; else loading">
    <app-participant-table
      [race]="data.race"
      [riders]="data.riders"
      [raceParticipants]="data.raceParticipants">
    </app-participant-table>
  </div>

  <ng-template #loading>
    <div class="row">
      <div class="alert alert-info">
        <strong>Please wait!</strong>
      </div>
    </div>
  </ng-template>
</ng-container>
